<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright Elasticsearch B.V. and/or licensed to Elasticsearch B.V. under one
    or more contributor license agreements. Licensed under the Elastic License
    2.0 and the Server Side Public License, v 1; you may not use this file except
    in compliance with, at your election, the Elastic License 2.0 or the Server
    Side Public License, v 1.
-->
<!-- Marker file indicating CDI should be enabled -->
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
      http://xmlns.jcp.org/xml/ns/javaee
      http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
       bean-discovery-mode="all">
</beans>
