/*
 * Copyright Elasticsearch B.V. and/or licensed to Elasticsearch B.V. under one
 * or more contributor license agreements. Licensed under the Elastic License
 * 2.0 and the Server Side Public License, v 1; you may not use this file except
 * in compliance with, at your election, the Elastic License 2.0 or the Server
 * Side Public License, v 1.
 */

grant {
  // needed because jackson-databind is using Class#getDeclaredConstructors(), Class#getDeclaredMethods() and
  // Class#getDeclaredAnnotations() to find all public, private, protected, package protected and
  // private constructors, methods or annotations. Just locating all public constructors, methods and annotations
  // should be enough, so this permission wouldn't then be needed. Unfortunately this is not what jackson-databind does
  // or can be configured to do.
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  // Also needed because of jackson-databind:
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.net.SocketPermission "*", "connect";
};
