CHANGELOG.asciidoc  merge=union

# These files contain expected text output, and should not be changed on
# Windows
build-tools-internal/src/test/resources/org/elasticsearch/gradle/internal/release/*.asciidoc text eol=lf
