.idea/
.gradle/
*.iml
*.ipr
*.iws
work/
/data/
/plugins/
logs/
.DS_Store
build/
target/
*-execution-hints.log
docs/html/
docs/build.log
/tmp/
backwards/

## eclipse ignores (use 'mvn eclipse:eclipse' to build eclipse projects)
## The only configuration files which are not ignored are certain files in
## .settings (as listed below) since these files ensure common coding 
## style across Eclipse and IDEA.
## Other files (.project, .classpath) should be generated through Maven which
## will correctly set the classpath based on the declared dependencies.
.project
.classpath
eclipse-build
*/.project
*/.classpath
*/eclipse-build
/.settings/
!/.settings/org.eclipse.core.resources.prefs
!/.settings/org.eclipse.jdt.core.prefs
!/.settings/org.eclipse.jdt.ui.prefs

## netbeans ignores
nb-configuration.xml
nbactions.xml

/dependency-reduced-pom.xml
