[project]
	description = Open Source, Distributed, RESTful Search Engine
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lee Hinman (dakrone)
[access "refs/for/refs/*"]
	read = group user/Lee Hinman (dakrone)
	push = group user/Lee Hinman (dakrone)
	label-Code-Review = -2..+2 group user/Lee Hinman (dakrone)
	label-Verified = -1..+1 group user/Lee Hinman (dakrone)
	rebase = group user/Lee Hinman (dakrone)
	removeReviewer = group user/Lee Hinman (dakrone)
	submit = group user/Lee Hinman (dakrone)
[access "refs/heads/*"]
	read = group user/Lee Hinman (dakrone)
	create = group user/Lee Hinman (dakrone)
	push = +force group user/Lee Hinman (dakrone)
	pushMerge = group user/Lee Hinman (dakrone)
[access "refs/tags/*"]
	push = +force group user/Lee Hinman (dakrone)
	pushTag = group user/Lee Hinman (dakrone)
	pushSignedTag = group user/Lee Hinman (dakrone)
