/* Success/Failure indicators for logout propagation. */

.success {
    background: url(../images/success-32x32.png) no-repeat left center;
    line-height: 36px;
    padding-left: 36px;
}
.failure {
    background: url(../images/failure-32x32.png) no-repeat left center;
    line-height: 36px;
    padding-left: 36px;
}
