# Copyright Elasticsearch B.V. and/or licensed to Elasticsearch B.V. under one
# or more contributor license agreements. Licensed under the Elastic License
# 2.0 and the Server Side Public License, v 1; you may not use this file except
# in compliance with, at your election, the Elastic License 2.0 or the Server
# Side Public License, v 1.

[libdefaults]
    default_realm = ${REALM_NAME}
    dns_canonicalize_hostname = false
    dns_lookup_kdc = false
    dns_lookup_realm = false
    dns_uri_lookup = false
    forwardable = true
    ignore_acceptor_hostname = true
    rdns = false
    # des3-cbc-sha1-kd is the only enctype available in fips 140-2
    default_tgs_enctypes = des3-cbc-sha1-kd
    default_tkt_enctypes = des3-cbc-sha1-kd
    permitted_enctypes = des3-cbc-sha1-kd
    # udp_preference_limit = 1
    kdc_timeout = 3000
    allow_weak_enctypes = false

[realms]
    ${REALM_NAME} = {
        kdc = 127.0.0.1:88
        kdc = 127.0.0.1:${MAPPED_PORT}
        admin_server = ${KDC_NAME}:749
        default_domain = ${BUILD_ZONE}
    }

[domain_realm]
    ${BUILD_ZONE} = ${REALM_NAME}
    .${BUILD_ZONE} = ${REALM_NAME}
    ${ELASTIC_ZONE} = ${REALM_NAME}
    .${ELASTIC_ZONE} = ${REALM_NAME}

