grant {
  // CommandLineHttpClient
  permission java.lang.RuntimePermission "setFactory";
  // bouncy castle
  permission java.security.SecurityPermission "putProviderProperty.BC";

  // needed in (cf. o.e.x.c.s.s.RestorableContextClassLoader)
  permission java.lang.RuntimePermission "getClassLoader";
  permission java.lang.RuntimePermission "setContextClassLoader";

  // needed for multiple server implementations used in tests
  permission java.net.SocketPermission "*", "accept,connect";

  // needed because of problems in unbound LDAP library
  permission java.util.PropertyPermission "*", "read,write";
};

grant codeBase "${codebase.httpasyncclient}" {
  // rest client uses system properties which gets the default proxy
  permission java.net.NetPermission "getProxySelector";
};
