grant {
  // needed for com.nimbusds.jose.shaded.gson.Gson.toJson
  permission java.lang.RuntimePermission "accessDeclaredMembers";

  // needed for com.nimbusds.oauth2.sdk.id.Identifier#value
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
};
