<div class="container">
  <h1><img src="{{login.kibanaLogoUrl}}" /></h1>

  <form id="login-form" ng-submit="login.submit(username, password)" class="animated infinite bounce">
    <div class="form-group inner-addon left-addon">
      <i class="fa fa-user fa-lg fa-fw"></i>
      <input type="text" ng-model="username" class="form-control" id="username" name="username" placeholder="Username" />
    </div>
    <div class="form-group  inner-addon left-addon">
      <i class="fa fa-lock fa-lg fa-fw"></i>
      <input type="password" ng-model="password" class="form-control" id="password" name="password" placeholder="Password" />
    </div>
    <div ng-show="login.error" class="form-group has-error">Oops! That is an invalid username/password combination.</div>
    <button type="submit" ng-disabled="!username || !password" class="btn btn-default login">LOG IN</button>
    <!--<span ng-show="login.loading" class="fa fa-spinner fa-spin"></span>-->
  </form>
</div>