grant {
  // Policy is required for tests to connect to testing Elasticsearch instance.
  permission java.net.SocketPermission "*", "connect,resolve";
};
