{
    "query": {
        "bool": {
            "must" : [
                {
                    "match": {
                        "event_type": {
                            "query": "a",
                            "type": "boolean"
                        }
                    }
                },
                {
                    "range": {
                        "_timestamp": {
                            "from": "{{ctx.trigger.scheduled_time}}||-{{seconds_param}}",
                            "to": "{{ctx.trigger.scheduled_time}}",
                            "include_lower": true,
                            "include_upper": true
                        }
                    }
                }
            ]
        }
    }
}