grant {

  // needed for GSSAPI bind to LDAP
  permission javax.security.auth.AuthPermission "modifyPrincipals";
  permission javax.security.auth.AuthPermission "modifyPrivateCredentials";
  permission javax.security.auth.PrivateCredentialPermission "javax.security.auth.kerberos.KerberosKey * \"*\"", "read";
  permission javax.security.auth.PrivateCredentialPermission "javax.security.auth.kerberos.KeyTab * \"*\"", "read";
  permission javax.security.auth.PrivateCredentialPermission "javax.security.auth.kerberos.KerberosTicket * \"*\"", "read";
  permission javax.security.auth.AuthPermission "doAs";
  permission javax.security.auth.kerberos.ServicePermission "*","initiate,accept";

  permission java.util.PropertyPermission "javax.security.auth.useSubjectCredsOnly","write";
  permission java.util.PropertyPermission "java.security.krb5.conf","write";
  permission java.util.PropertyPermission "sun.security.krb5.debug","write";
  permission java.util.PropertyPermission "java.security.debug","write";

  permission javax.security.auth.AuthPermission "createLoginContext.GSSAPIBindRequest";
  permission javax.security.auth.AuthPermission "setLoginConfiguration";
};
