/*
 * Copyright Elasticsearch B.V. and/or licensed to Elasticsearch B.V. under one
 * or more contributor license agreements. Licensed under the Elastic License
 * 2.0 and the Server Side Public License, v 1; you may not use this file except
 * in compliance with, at your election, the Elastic License 2.0 or the Server
 * Side Public License, v 1.
 */

grant codeBase "${codebase.elasticsearch-nio}" {
  // elasticsearch-nio makes and accepts socket connections
  permission java.net.SocketPermission "*", "accept,connect";
};

grant codeBase "${codebase.netty-common}" {
   // This should only currently be required as we use the netty http client for tests
   // netty makes and accepts socket connections
   permission java.net.SocketPermission "*", "accept,connect";
   // Netty sets custom classloader for some of its internal threads
   permission java.lang.RuntimePermission "setContextClassLoader";
};
