dn: cn=config
changetype: modify
replace: olcTLSCACertificateFile
olcTLSCACertificateFile: {{ ssl_dir_certs }}/ca_server.pem
-
replace: olcTLSCertificateFile
olcTLSCertificateFile: {{ ssl_dir_certs }}/{{ openldap_cert_name }}
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: {{ ssl_dir_private }}/{{ openldap_key_name }}
