dn: cn=config
changetype: modify
add: olcTLSCACertificateFile
olcTLSCACertificateFile: {{ ssl_dir_certs }}/ca_server.pem
-
add: olcTLSCertificateFile
olcTLSCertificateFile: {{ ssl_dir_certs }}/{{ openldap_cert_name }}
-
add: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: {{ ssl_dir_private }}/{{ openldap_key_name }}
