/*
 * Copyright Elasticsearch B.V. and/or licensed to Elasticsearch B.V. under one
 * or more contributor license agreements. Licensed under the Elastic License;
 * you may not use this file except in compliance with the Elastic License.
 */


/* TODO this exists so that we can run painless in unit tests which we
 * only want to do because we don't yet have a FieldMapper implementation.
 * Once we have that we can move to mock scripts in unit tests and painless
 * in integration tests. */

grant {
  // needed to generate runtime classes
  permission java.lang.RuntimePermission "createClassLoader";

  // needed to find the classloader to load whitelisted classes from
  permission java.lang.RuntimePermission "getClassLoader";
};

