grant {
  // needed because of problems in unbound LDAP library
  permission java.util.PropertyPermission "*", "read,write";

  // needed to set expert SSL options, etc
  permission java.lang.RuntimePermission "setFactory";
  permission javax.net.ssl.SSLPermission "setHostnameVerifier";

  // needed when sending emails for javax.activation
  // otherwise a classnotfound exception is thrown due to trying
  // to load the class with the application class loader
  permission java.lang.RuntimePermission "setContextClassLoader";
  permission java.lang.RuntimePermission "getClassLoader";

  // bouncy castle
  permission java.security.SecurityPermission "putProviderProperty.BC";
};
