grant codeBase "${codebase.junit-rt.jar}" {
  // allows IntelliJ IDEA JUnit test runner to control number of test iterations
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
};


