{
    "query": {
        "match": {
            "{{field}}": {
                "query" : "{{value}}",
                "operator" : "{{operator}}{{^operator}}or{{/operator}}"
            }
        }
    },
    "size": {{size}}
}
