<component name="libraryTable">
  <library name="testng">
    <CLASSES>
      <root url="jar://$GRADLE_REPOSITORY$/com.beust/jcommander/jars/jcommander-1.5.jar!/" />
      <root url="jar://$GRADLE_REPOSITORY$/org.beanshell/bsh/jars/bsh-2.0b4.jar!/" />
      <root url="jar://$GRADLE_REPOSITORY$/org.testng/testng/jars/testng-5.14.6.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>