/*
 * Copyright Elasticsearch B.V. and/or licensed to Elasticsearch B.V. under one
 * or more contributor license agreements. Licensed under the Elastic License
 * 2.0 and the Server Side Public License, v 1; you may not use this file except
 * in compliance with, at your election, the Elastic License 2.0 or the Server
 * Side Public License, v 1.
 */

grant {
  // required by: com.google.api.client.json.JsonParser#parseValue
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  // required by: com.google.api.client.json.GenericJson#<init>
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  // required to add google certs to the gcs client trustore
  permission java.lang.RuntimePermission "setFactory";

  // gcs client opens socket connections for to access repository
  permission java.net.SocketPermission "*", "connect";
};
