<?xml version="1.0"?>
<assembly>
    <id>plugin</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <fileSets>
        <fileSet>
            <filtered>false</filtered>
            <directory>bin/shield</directory>
            <outputDirectory>bin</outputDirectory>
        </fileSet>
        <fileSet>
            <directory>config/shield</directory>
            <outputDirectory>config</outputDirectory>
        </fileSet>
    </fileSets>
    <dependencySets>
        <dependencySet>
            <outputDirectory>/</outputDirectory>
            <useProjectArtifact>true</useProjectArtifact>
            <useTransitiveDependencies>false</useTransitiveDependencies>
            <includes>
                <include>org.elasticsearch.plugin:shield</include>
                <include>dk.brics.automaton:automaton</include>
                <include>com.unboundid:unboundid-ldapsdk</include>
            </includes>
        </dependencySet>
    </dependencySets>
    <files>
        <file>
            <source>LICENSE.txt</source>
            <outputDirectory>/</outputDirectory>
        </file>
        <file>
            <source>NOTICE.txt</source>
            <outputDirectory>/</outputDirectory>
        </file>
        <file>
            <source>${elasticsearch.tools.directory}/plugin-metadata/plugin-descriptor.properties</source>
            <outputDirectory></outputDirectory>
            <filtered>true</filtered>
        </file>
    </files>
</assembly>
