/*
 * Copyright Elasticsearch B.V. and/or licensed to Elasticsearch B.V. under one
 * or more contributor license agreements. Licensed under the Elastic License;
 * you may not use this file except in compliance with the Elastic License.
 */

grant {
    permission java.security.SecurityPermission "putProviderProperty.BCFIPS";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.security.provider";
    permission org.bouncycastle.crypto.CryptoServicesPermission "exportSecretKey";
};
