work
.idea
agent/logs
agent/data
agent/target
agent/.project
agent/.classpath
agent/.settings
agent/config
agent/lib
agent/.local-execution-hints.log
.DS_Store
*.iml
*.log
node_modules
esvm
build
.aws-config.json
html_docs
target
