/*
 * Copyright Elasticsearch B.V. and/or licensed to Elasticsearch B.V. under one
 * or more contributor license agreements. Licensed under the Elastic License
 * 2.0 and the Server Side Public License, v 1; you may not use this file except
 * in compliance with, at your election, the Elastic License 2.0 or the Server
 * Side Public License, v 1.
 */

grant {
  // needed because of problems in ClientConfiguration
  // TODO: get these fixed in aws sdk
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  // NOTE: no tests fail without this, but we know the problem
  // exists in AWS sdk, and tests here are not thorough
  permission java.lang.RuntimePermission "getClassLoader";

  // ec2 client opens socket connections for discovery
  permission java.net.SocketPermission "*", "connect";

  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
};
