/*
 * Licensed to Elasticsearch under one or more contributor
 * license agreements. See the NOTICE file distributed with
 * this work for additional information regarding copyright
 * ownership. Elasticsearch licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

// NOTE: when modifying this file, look at restrictions in TikaImpl too
grant {
  // needed to apply additional sandboxing to tika parsing
  permission java.security.SecurityPermission "createAccessControlContext";

  // TODO: fix PDFBox not to actually install bouncy castle like this
  permission java.security.SecurityPermission "putProviderProperty.BC";
  permission java.security.SecurityPermission "insertProvider";
  // TODO: fix POI XWPF to not do this: https://bz.apache.org/bugzilla/show_bug.cgi?id=58597
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  // needed by xmlbeans, as part of POI for MS xml docs
  permission java.lang.RuntimePermission "getClassLoader";
};
