<Context docBase="{{ shib_home }}/war/idp.war"
         privileged="true"
         antiResourceLocking="false"
         swallowOutput="true">

    <!-- Work around lack of Max-Age support in IE/Edge -->
    <CookieProcessor alwaysAddExpires="true" />

    <Parameter name="idp.home" value="{{ shib_home }}" />

</Context>
