##
## Velocity template to write to local storage.
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## saveContext - context with details about the storage data to save
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
#set ($title = $springMacroRequestContext.getMessage("idp.title", "Web Login Service"))
#set ($titleSuffix = $springMacroRequestContext.getMessage("idp.client-storage-write.suffix", "Saving Session Information..."))
##
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>$title - $titleSuffix</title>
        <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/main.css">
        <script>
        <!--
        #include( "client-storage/local-storage-write.js" )
        // -->
        </script>
    </head>
    <body onload="doSave()">
        <div class="wrapper">
            <div class="container">
                <header>
                    <h3>$title - $titleSuffix</h3>
                </header>
                <div class="content">
                $springMacroRequestContext.getMessage("idp.client-storage-write.text", "Saving login session information to the browser...")
                </div>
                <noscript>
                    <div class="content">
                    $springMacroRequestContext.getMessage("idp.client-storage.no-js", "Since your browser does not support JavaScript, you must press the Continue button once to proceed.")
                    </div>
                </noscript>
                #parse( "client-storage/write.vm" )
            </div>
            <footer>
                <div class="container container-footer">
                    <p class="footer-text">#springMessageText("idp.footer", "Insert your footer text here.")</p>
                </div>
            </footer>
        </div>
    </body>
</html>