idp.noprompt="true"
idp.host.name={{ shib_dns_name }}
idp.src.dir={{ shib_installdir }}/shibboleth-identity-provider-{{ shib_idp_version }}/
idp.target.dir={{ shib_installdir }}/shibboleth-idp/
idp.sealer.password={{ idp_sealer_password }}
idp.keystore.password={{ idp_keystore_password }}
idp.merge.properties={{ shib_installdir }}/shibboleth-identity-provider-{{ shib_idp_version }}/bin/idp.properties
ldap.merge.properties={{ shib_installdir }}/shibboleth-identity-provider-{{ shib_idp_version }}/bin/ldap.properties
