idp.authn.LDAP.authenticator = bindSearchAuthenticator
idp.authn.LDAP.ldapURL = ldap://{{ ansible_fqdn }}:389
idp.authn.LDAP.useStartTLS = true
idp.authn.LDAP.sslConfig = certificateTrust
idp.authn.LDAP.trustCertificates= {{ ssl_dir_certs }}/ca_server.pem
idp.authn.LDAP.baseDN = ou=people,{{ ldap_domain_dn }}
idp.authn.LDAP.subtreeSearch = true
idp.authn.LDAP.userFilter = (uid={user})
idp.authn.LDAP.bindDN = cn=admin,{{ ldap_domain_dn }}
idp.authn.LDAP.bindDNCredential = {{ ldap_password }}
idp.authn.LDAP.dnFormat = uid=%s,ou=people,{{ ldap_domain_dn }}
