grant {
  // needed to cause problems
  permission java.lang.RuntimePermission "getClassLoader";
  permission java.lang.RuntimePermission "closeClassLoader";
};
